@import '~@angular/material/theming';
@include mat-core();


$md-verde: (
    50 : #e3fcf6,
    100 : #b9f8e8,
    200 : #8bf3d8,
    300 : #5ceec8,
    400 : #39eabd,
    500 : #16e6b1,
    600 : #13e3aa,
    700 : #10dfa1,
    800 : #0cdb98,
    900 : #06d588,
    A100 : #fdfffe,
    A200 : #caffe9,
    A400 : #97ffd4,
    A700 : #7effca,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-blue: (
    50 : #e4e6ec,
    100 : #bcbfcf,
    200 : #9095af,
    300 : #646b8f,
    400 : #424b77,
    500 : #212b5f,
    600 : #1d2657,
    700 : #18204d,
    800 : #141a43,
    900 : #0b1032,
    A100 : #6e7cff,
    A200 : #3b4eff,
    A400 : #0820ff,
    A700 : #0017ed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



  $primary: mat-palette($md-blue,500);
  $accent: mat-palette($md-verde,500);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);