<div class="header">
    <button mat-mini-fab class="icon_btn">
        <mat-icon>queue_play_next</mat-icon>
      </button>
      &nbsp; 
      <span style="vertical-align: middle">AJOUTER UN TYPE D'ENVIRONEMENT</span>
  </div>
  <div mat-dialog-content class="content">
    <form class="add-form" #addForm = "ngForm" (ngSubmit) = "onSubmit()">
      <br>
        <mat-form-field class="add-full-width">
          <input matInput placeholder="Intitulé du type" [(ngModel)] = "typeEnv.name" name="name" #name="ngModel" required>
          <mat-error *ngIf="name.invalid">
            Ce champs est <strong>important</strong>
          </mat-error>
          <mat-hint *ngIf="!isUnique(name.value)" style="color: red">
            Ce champs doit être <strong>unique</strong>
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="add-full-width">
          <mat-label>Famille d'environnement</mat-label>
          <mat-select  [(ngModel)]="typeEnv.refFamilleEnvironnement.id" name="refFamilleEnvironnement" #famille="ngModel" required>
            <mat-option *ngFor = "let familleEnv of familleEnvs$ | async" value = "{{familleEnv.id}}">{{familleEnv.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="famille.invalid">
            Ce champs est <strong>important</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <button [type]="addForm.valid && isUnique(name.value)?'submit':'button'" mat-flat-button id="addBtn">Ajouter</button>
      </form>
      <br>
      <!--
      <div class="footer">
      </div>
      -->
  </div>
  