<mat-card>
  <button mat-flat-button id="addBtn" (click)="openDialog()">
    <mat-icon>add_circle</mat-icon> &nbsp; Ajouter une devise
  </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Opération </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="opBtn">
          <mat-icon>settings</mat-icon>
        </button>
        &nbsp; &nbsp;
        <button mat-mini-fab class="opBtn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-card>