<mat-card style="background: rgba(255, 255, 255, 0)">
  <button mat-flat-button id="addBtn" (click)="openDialog();">
    <mat-icon>add_circle</mat-icon> &nbsp; Ajouter une devise
  </button>

  <div style="margin-top: 2%">
    <div class="header" >
      <button mat-mini-fab class="icon_btn">
        <mat-icon>attach_money</mat-icon>
      </button>
      &nbsp; 
      <span style="vertical-align: middle">DEVISES</span>
    </div>
    <div class="content">
      <mat-list>
        <mat-list-item *ngFor="let devise of devises; let i = last" [ngClass]="{'notLast':!i}">
          <mat-icon matListIcon class="devise_icon" style="margin-right: 15%">attach_money</mat-icon>
          <h3 matLine> {{devise.name}} </h3>
          <span class="description"> {{devise.description}} </span>

          <button mat-icon-button class="opBtn" (click) = "openUpdateDialog(devise)">
            <mat-icon>settings</mat-icon>
          </button>
          &nbsp; &nbsp;
          <button mat-icon-button class="opBtn" style="margin-right: 5%" (click) = "openSnackBar(devise.name, devise.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-card>