<div class="header">
  <span style="vertical-align: middle" class="title">AJOUTER UN ROLE</span>
  <button mat-icon-button class="dismissBtn" (click)="close()">
     <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="content">
<form class="add-form" #addForm = "ngForm" (ngSubmit) = "onSubmit()">
  <br>
    <mat-form-field class="add-full-width">
      <input matInput placeholder="Intitulé du rôle" [(ngModel)] = "role.name" name="name" #name="ngModel" required>
      <mat-error *ngIf="name.invalid">
        Ce champs est <strong>important</strong>
      </mat-error>
      <mat-hint *ngIf="!isUnique(name.value)" style="color: red">
        Ce champs doit être <strong>unique</strong>
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="add-full-width">
        <textarea matInput placeholder="Description" style="resize: none" name="description" [(ngModel)] = "role.description"></textarea>
      </mat-form-field>
    <br>
    <button [type]="addForm.valid && isUnique(name.value)?'submit':'button'" mat-flat-button id="addBtn">Ajouter</button>
  </form>
  <br>
  <!--
  <div class="footer">
  </div>
  -->
</div>
