.header{
     background: #F6F6F6;
     width: 100%;
     height: 45px; 
     padding-top: 0.5%;
     padding-left: 1%;
     font-family: 'Roboto', 'Cambria';
     font-size: 17pt;
     color : #2c4675;
}

.footer{
    background: #F6F6F6;
    width: 100%;
    height: 45px; 
    padding-top: 1%;
    padding-left: 1%;
    margin-left: -5%
}

.content{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    text-align: center;
}
.icon_btn{
    background-color: #2B4774;
    color: white;
    box-shadow: none;
 }


 .add-form {
    min-width: 60%;
    max-width: 90%;
    width: 100%;
    margin: auto;
    /*padding-left: 12% */
  }
  
  .add-full-width {
    width: 100%;
  }

  #addBtn{
    background:linear-gradient(to right, #213f99 0%,#202c5f 100%);
    color: white;
    border-radius: 20px;
    width: 30%
}

form input{
    color: #202c5f;
}