<div class="header">
    <button mat-mini-fab class="icon_btn">
        <mat-icon>attach_money</mat-icon>
      </button>
      &nbsp; 
      <strong>AJOUTER UNE DEVISE</strong>
</div>
<div mat-dialog-content class="content">
    <form class="add-form" #addForm = "ngForm" (ngSubmit) = "onSubmit()">
      <br>
        <mat-form-field class="add-full-width">
          <input matInput placeholder="Intitulé du devise" [(ngModel)] = "devise.name" name="name" required>
        </mat-form-field>
      
        <mat-form-field class="add-full-width">
          <textarea matInput placeholder="Description" style="resize: none" name="description" [(ngModel)] = "devise.description"></textarea>
        </mat-form-field>
        <br>
        <button type="submit" mat-flat-button id="addBtn">Ajouter</button>
      </form>
      <!--
      <div class="footer">
      </div>
      -->
</div>
