<header>
    <mat-checkbox  matListIcon style="margin-right:4%" (change)="selectAll();" [(ngModel)] = "selectTout"></mat-checkbox>
    <span class="HeadName" (click) = "sortByName()">
        <span>Devise </span>
        &nbsp;
        <mat-icon>unfold_more</mat-icon>
    </span>
    <span class="Headdescription" (click) = "sortByDescription()">
      <span> Description </span>
      &nbsp;
    <mat-icon>unfold_more</mat-icon>
    </span>
  <button mat-flat-button id="addBtn" class="btn" (click)="openDialog();">
    <mat-icon>add</mat-icon> &nbsp; ajouter &nbsp;
    </button>
</header>

    <mat-list>
      <mat-list-item *ngFor="let devise of devises;"> 
        <!-- let i = last" [ngClass]="{'notLast':!i}"> -->

        <mat-checkbox  matListIcon style="margin-right:2%" (change) = "select(devise)" [checked]="isSelected(devise)"></mat-checkbox>
        <h3 matLine class="name"> {{devise.name}} </h3>
        <span class="description"> {{devise.description!!}} </span>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="opIcon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item (click) = "openUpdateDialog(devise)" >modifier</button>
          <button mat-menu-item (click) = "openSnackBar(devise.name, devise.id)">supprimer</button>
        </mat-menu>
      </mat-list-item>
    </mat-list>

    <button mat-flat-button class="btn" id="deleteBtn" *ngIf = "selectedItems.length" (click) = "openDeleteSnackBar()">
        <mat-icon>delete</mat-icon> &nbsp; supprimer &nbsp;
    </button>
