table{
    width: 100%;
    margin-top : 2.5%;
    text-align: center;
}

 #addBtn{
     float: right;
     border-radius: 20px;
    font-family: 'Roboto light';
    margin-right:3%
 }

 #deleteBtn{
    margin : 1% 0% 1% 42%;
 }

 .btn{
    background:linear-gradient(to right, #213f99 0%,#202c5f 100%);
    color: white;
    align-self: center;
 }

 h3.name{
    color: #2c4675;
 }

 .Headdescription{
    margin: 0;
    flex-grow: 1;
    cursor: context-menu;
 }

 .HeadName{
    flex-grow: 1;
    max-width: 28%;
    cursor: context-menu;
 }

header{
    background: #F6F6F6;
    height: 50px;
    padding-left: 53px;
    align-items: center;
    display: flex;
 }

 mat-list-item {
    padding-left : 33px;
    font-family: 'Roboto regular';
    border-bottom: lightgray 1px solid;
 }

 span.description{
     margin-right: 35%;
     color: #6f7889;
     width: 100%;
 }

 .opIcon{
    color: #2c4675
 }
 ::ng-deep .mat-expansion-panel-body{
    padding: 0px;
}

span mat-icon{
    font-size: 14px;
    font-weight: bolder;
}
