<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div *ngIf="!token">
  <h1>
    Login
  </h1>
  <form (ngSubmit) = "onSubmit()">
      <div>
        <label>Username : </label>
        <input type = "text" [(ngModel)] = "user.username" name="login">
      </div>
        <br>
      <div>
          <label>Password : </label>
          <input type = "password" [(ngModel)] = "user.password" name="password">
      </div>

        <button type="submit">Login </button>
  </form>
</div>


  <button (click) = "gets()"> Get taches</button>
  <button (click) = "add()"> Add tache</button>
  <button (click) = "get(12)"> Get tache</button>
  <button (click) = "delete(12)"> Suppr tache</button>
  <button (click) = "update(11)"> Update tache</button>




  <div>
    <ul>
      <li *ngFor = "let sect of taches">
        <p>{{sect | json}}</p>
      </li>
    </ul>
  </div>

</div>

