<!--The content below is only a placeholder and can be replaced.-->
<div class = "login" >
  <!-- <div *ngIf="!token">
    <h1>
      Login
    </h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input aria-label="Username" #login type="text" matInput [formControl]="input" name="login" required>
        </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input aria-label="Password" #pass type="password" matInput [formControl]="password" name="pass" required>
        </mat-form-field>
        <br>
        <mat-chip-list placeholder="List">
          <mat-chip>Papadum</mat-chip>
          <mat-chip>Naan</mat-chip>
          <mat-chip>Dal</mat-chip>
        </mat-chip-list>
        <mat-checkbox>Remember me !</mat-checkbox>
      </div>
      {{loginForm.form.valid}}
      <button type="submit" [disabled]="!pass.value?.length || !login.value?.length">Login</button>
    </form>
  </div>
  <button (click)="gets()"> Get taches</button>
  <button (click)="add()"> Add tache</button>
  <button (click)="get(taches[0].id)"> Get tache</button>
  <button (click)="delete(12)"> Suppr tache</button>
  <button (click)="update(11)"> Update tache</button>

  <div>
    <ul>
      <li *ngFor="let sect of taches">
        <p>{{sect | json}}</p>
      </li>
    </ul>
  </div>

-->
<app-nav-bar></app-nav-bar>
  <a href="#" class="link">
    <mat-icon style="margin-right:-1%">more_vert</mat-icon>
    <mat-icon style="margin-right:-1%">more_vert</mat-icon>
    <mat-icon>more_vert</mat-icon>
  </a>
  <mat-icon style="margin-left:1%">account_circle</mat-icon>

<router-outlet></router-outlet>
</div>