<mat-sidenav-container class="container">
  <mat-sidenav opened mode="side">
    <br/>
    <br/>
    <a mat-icon-button routerLink="/home" routerLinkActive="active">
      <mat-icon>subject</mat-icon>
    </a> 
    <br/>
    <br/>
    <a mat-icon-button routerLink="/collaborateur">
      <mat-icon>group</mat-icon>
    </a>   
     <br/>
     <br/>
    <a mat-icon-button routerLink="/projet">
        <mat-icon>work</mat-icon>
      </a>
    <br/>
    <br/>
    <a mat-icon-button routerLink="/client">    
        <mat-icon>account_balance</mat-icon>
    </a>
    <br/>
    <br/>
    <a mat-icon-button>
        <mat-icon>build</mat-icon>
    </a>
    <br/>
    <br/>
    <a mat-icon-button>
        <mat-icon>input</mat-icon>
    </a>
    <img src="../../../assets/images/logo.png" id = "logo" />
  </mat-sidenav>
</mat-sidenav-container>
