<div class="header">
  <span style="vertical-align: middle" class="title">MODIFIER UN ENVIRONNEMENT</span>
  <button mat-icon-button class="dismissBtn" (click)="close()">
     <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="content">
  <form class="add-form" #addForm = "ngForm" (ngSubmit) = "onSubmit()">
    <br>
      <mat-form-field class="add-full-width">
        <input matInput placeholder="Intitulé du l'environnement" [(ngModel)] = "data.libelle" name="name" #name="ngModel" required>
        <mat-error *ngIf="name.invalid">
          Ce champs est <strong>important</strong>
        </mat-error>
 
      </mat-form-field>

      <mat-form-field class="add-full-width">
        <mat-label>Famille d'environnement</mat-label>
        <mat-select  [(ngModel)]="data.paramTypeEnvironnement.refFamilleEnvironnement.id"  name="refFamilleEnvironnement" #famille="ngModel" required>
          <mat-option *ngFor = "let familleEnv of familleEnvs$ | async" [value] = "familleEnv.id">{{familleEnv.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="famille.invalid">
          Ce champs est <strong>important</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="add-full-width" *ngIf="famille.value">
          <mat-label>Type d'environnement</mat-label>
          <mat-select  [(ngModel)]="data.paramTypeEnvironnement.id" name="typeEnvironnement" #type="ngModel" required>
            <mat-option *ngFor = "let type of getTypes(famille.value)" [value] = "type.id">{{type.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="type.invalid">
            Ce champs est <strong>important</strong>
          </mat-error>

          <mat-hint *ngIf="getTypes(famille.value).length == 0" style="color: red">
            la famille d'environnement selectionnée <strong>n'a pas de types</strong>
          </mat-hint>

        </mat-form-field>


      <mat-form-field class="add-full-width">
          <textarea matInput placeholder="Description" style="resize: none" name="description" [(ngModel)] = "data.description"></textarea>
        </mat-form-field>
      <br>
      <button [type]="addForm.valid?'submit':'button'" mat-flat-button id="addBtn">Ajouter</button>
    </form>
    <br>
    <!--
    <div class="footer">
    </div>
    -->
</div>
