/* You can add global styles to this file, and also import other style files 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
*/

section{
    margin-left : 5%
}
.opBtn
{
    background-color: aqua;
    color: antiquewhite;

}