<section >
    <mat-tab-group>
        <mat-tab label="Devise des projets"> 
          <app-param-devise></app-param-devise>
        </mat-tab>
        <mat-tab label="Entités Collaborateurs/Projets"> 
          <app-param-entite></app-param-entite>
        </mat-tab>
        <mat-tab label="Secteurs d'activités"> 
          <app-param-secteurs></app-param-secteurs>  
        </mat-tab>
        <mat-tab label="Famille d'environements">
          <app-famille-env></app-famille-env>
      </mat-tab>
        <mat-tab label="Types d'environement">
            <app-param-type-env></app-param-type-env>
        </mat-tab>
        <mat-tab label="Types d'exécution">
          <app-param-type-exec></app-param-type-exec>
        </mat-tab>
        <mat-tab label="Sexes">
          <app-param-sexe></app-param-sexe>
        </mat-tab>   
        <mat-tab label="Situation Familiale">
          <app-param-situation-familiale></app-param-situation-familiale>
        </mat-tab>
        <mat-tab label="Statut Collaborateur">
          <app-statut-collaborateur></app-statut-collaborateur>
        </mat-tab>
        <mat-tab label="Statut Projet">
          <app-statut-projet></app-statut-projet>
        </mat-tab>
      </mat-tab-group>
</section>  