<section>
  <span class="section_title">GESTION REFERENTIEL</span>
  <br>
  <br>
  <div class="tab">
    <mat-tab-group>
      <mat-tab label="Projets">
        <div class="separator"></div>

        <mat-accordion>
          <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false"> -->
          <mat-expansion-panel id="familleEnv" (opened)="panelFEOpenState = true" (closed)="panelFEOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelFEOpenState}">
                FAMILLE D'ENVIRONNEMENT
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-famille-env></app-famille-env>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="typeEnv" (opened)="panelTEOpenState = true" (closed)="panelTEOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelTEOpenState}">
                TYPE D'ENVIRONNEMENT
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-param-type-env></app-param-type-env>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="environement" (opened)="panelEOpenState = true" (closed)="panelEOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelEOpenState}">
                ELEMENT D'ENVIRONNEMENT
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-param-environnement></app-param-environnement>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="typeExec" (opened)="panelTEpenState = true" (closed)="panelTEpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelTEpenState}">
                TYPE D'EXECUTION
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-param-type-exec></app-param-type-exec>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="realisation" (opened)="panelREpenState = true" (closed)="panelREpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelREpenState}">
                REALISATION
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-param-realisation></app-param-realisation>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="statutProjet" (opened)="panelSPpenState = true" (closed)="panelSPpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelSPpenState}">
                STATUT PROJET
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-statut-projet></app-statut-projet>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="piecesJ" (opened)="panelPJpenState = true" (closed)="panelPJpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelPJpenState}">
                FAMILLE PIECES JOINTES
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-param-famille-pj></app-param-famille-pj>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="documentation" (opened)="panelDOCpenState = true" (closed)="panelDOCpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelDOCpenState}">
                FAMILLE DOCUMENTATION
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-param-famille-documentation></app-param-famille-documentation>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="role" (opened)="panelROLEpenState = true" (closed)="panelROLEpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelROLEpenState}">
                ROLE
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-param-role></app-param-role>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="role" (opened)="panelROLEpenState = true" (closed)="panelROLEpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelROLEpenState}">
                TACHE
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-taches></app-taches>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="roleTache" (opened)="panelROLETACHEpenState = true" (closed)="panelROLETACHEpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelROLETACHEpenState}">
                ROLE/TACHE
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-role-taches></app-role-taches>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="tags" (opened)="panelTAGSpenState = true" (closed)="panelTAGSpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : panelTAGSpenState}">
                TAGS
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-tags></app-tags>
          </mat-expansion-panel>
          <div class="separator"></div>

          <mat-expansion-panel id="devises" (opened)="paneDEVOpenState = true" (closed)="paneDEVOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'panelOpened' : paneDEVOpenState}">
                DEVISES
              </mat-panel-title>

            </mat-expansion-panel-header>
            <app-param-devise></app-param-devise>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>
      <mat-tab label="Collaborateurs">
        <p>Ref Collab</p>
      </mat-tab>
      <mat-tab label="Autres">
        <p>Ref Autres</p>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="navigation">
    <a (click)="scrollTo('familleEnv')" matTooltip="Famille d'environements" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('typeEnv')" matTooltip="Types d'environements" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('environement')" matTooltip="Environements" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('typeExec')" matTooltip="Type d'exécution" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('realisation')" matTooltip="Realisations" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('statutProjet')" matTooltip="Statut Projet" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('piecesJ')" matTooltip="Pièces Jointes" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('documentation')" matTooltip="Documentation" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('role')" matTooltip="Roles" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('roleTache')" matTooltip="Role/Taches" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('tags')" matTooltip="Tags" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
    <br>
    <a (click)="scrollTo('devises')" matTooltip="Devises" matTooltipPosition="before">
      <mat-icon>lens</mat-icon>
    </a>
  </div>
</section>